langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
python-dotenv
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
chromadb
beautifulsoup4
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
tf_keras
pandas
requests
trafilatura
arxiv
wikipedia
openai
langchain-groq
duckduckgo-search
pymupdf
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
unstructured
pytube
numexpr
validators
youtube-transcript-api
gradio